.block-uc-minicart-minicart {
  .block-content {
    a {
      font-size: 1rem;
      margin: .5rem;
      font-weight: normal;
      display: inline-block;
      i.fas {
        font-size: 1.75rem;
      }
    }
  }
}